html,body {
    height: 100%;
    width: 100%;
}
.box {
    height: 100%;
    width: 100%;
}
.box_header {
    width: 100%;
    height: 50px;
    background-color: #eee;
    position: absolute;
    border: 1px solid #ccc;
}
.header_left{
    width: 49px;
    height: 49px;
    position: absolute;
    background: url("../img/jd-sprites.png") -20px 0px no-repeat ;
    background-size: 200px 200px;
    padding: 15px;
    -webkit-background-origin: content-box;
    background-origin: content-box;
    -webkit-background-clip: content-box;
    -moz-background-clip: content-box;
    background-clip: content-box;
}
.header_right {
    width: 49px;
    height: 49px;
    background: url("../img/jd-sprites.png") -60px 0px no-repeat ;
    background-size: 200px 200px;
    padding: 15px;
    -webkit-background-origin: content-box;
    background-origin: content-box;
    -webkit-background-clip: content-box;
    -moz-background-clip: content-box;
    background-clip: content-box;
    position: absolute;
    right: 0;
    top: 0;
}
form {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}
.txt {
    width: 100%;
    height: 40px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 14px;
    padding-left: 5px;
}
.box_content {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    overflow: hidden;
}
.content_left {
    float: left;
    height: 100%;
    width: 100px;
    position: relative;
    overflow: hidden;
    
}
.content_left ul {
    width: 100px;
    position: absolute;
    top: 0px;
}
.content_left li{
    width: 100px;
    height: 40px;
    background-color: #eee;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.content_left li>a {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    line-height: 40px;
}
.content_left li.current>a {
    color: #e92322;
    border-right: 1px solid rgba(233,35,34,.4);
}
.content_right {
    margin-left: 100px;
    height: 100%;
}
.til_img {
    width: 100%;
}
.banner1 {
    width: 100%;
}
right_content {
    width: 100%;
}
.content_right h3 {
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
}
.right_content{
    width: 100%;
}
.right_content ul {
    width: 100%;
}
.right_content ul li {
    width: 33.33%;
    float: left;
    text-align: center;
}
.right_content ul img {

}
